.accordion-item.loading .accordion-header .accordion-button,
.accordion-item.loading .accordion-body ul {
    color: transparent !important;
    background: linear-gradient(100deg, #eceff1 30%, #f6f7f8 50%, #eceff1 70%);
    background-size: 400% !important;
    border: none;
    animation: loading 1.2s ease-in-out infinite;
    pointer-events: none;
}

.accordion-item.loading .accordion-header .accordion-button::after {
    display: none;
}

.accordion-item.loading .accordion-collapse {
    border: none;
}

.accordion-body ul {
    padding-left: 0;
}

.accordion-body ul li {
    list-style: none;
}

.accordion-body ul li img {
    fill: currentColor;
    display: inline-block;
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
}

.accordion-body ul li span {
    cursor: pointer;
    color: #545454;
    transition: 0.3s;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
}

.accordion-body ul li span:hover, .accordion-body ul li span.active {
    color: #e96b56;
}

.accordion-button:not(.collapsed) {
    background-color: inherit;
}

.accordion-button:focus {
    border-color: rgba(0, 0, 0, .125);
    outline: none;
    box-shadow: none;
}
